!!! 5
%html.no-js{ :lang => "zh-TW" }
  %head

    %meta{ :charset => "utf-8" }
    %title HITCON 台灣駭客年會 2013

    = render "/partials/favicon"
    = render "/partials/viewport"
    = render "/partials/fb-og"

    = render "/partials/site-css"
    = render "/vender/html5shim"

  %body
    = yield

    = render "/vender/jquery-cdn"
    = render "/partials/site-js"
    = render "/vender/typekit.erb"
    = livereload_js
