.footer
  %ul.bottom-menu
    %li.menu-item= link_to( "News", "http://blog.hitcon.org/" )
    %li.menu-item= link_to( "Agenda", "/2013/agenda/" )
    %li.menu-item= link_to( "Wargame", "/2013/wargame/" )
    %li.menu-item= link_to( "Location", "/2013/location/" )
    %li.menu-item= link_to( "Registration", "/2013/registration/" )
    %li.menu-item= link_to( "Sponsor", "/2013/sponsor/" )
  .slogan
  %ul.credit
    %li= link_to "CHROOT Security Group", "http://www.chroot.org/"
    %li= link_to "Designed by evendesign", "http://evendesign.tw"

