!!! 5
%html{ :lang => "zh-TW" }
  %head

    %meta{ :charset => "utf-8" }
    %title= data["site-title"]

    = render "/2013/partials/favicon"
    = render "/2013/partials/viewport"
    = render "/2013/partials/fb-og"

    = render "/2013/partials/site-css"
    = render "/2013/vender/html5shim"

  %body
    .page
      %nav.main-menu
        %h2.title HITCON 2013 Menu
        %ul
          %li.menu-item= link_to( "News", "#" )
          %li.menu-item= link_to( "Agenda", "#" )
          %li.menu-item= link_to( "Wargame", "#" )
          %li.menu-item= link_to( "Location", "#" )
          %li.menu-item= link_to( "Registration", "#" )
          %li.menu-item= link_to( "Sponsor", "#" )
      .main-content
        .header
          %a.menu-button
            .line
            .line
            .line
          %h1.title HITCON 2013
        = yield

    = render "/2013/vender/jquery-cdn"
    = render "/2013/partials/site-js"

    = livereload_js
