!!! 5
%html{ :lang => "zh-TW" }

  %head

    %meta{ :charset => "utf-8" }
    %title= data["site-title"]

    = render "/2013/partials/favicon"
    = render "/2013/partials/viewport"
    = render "/2013/partials/fb-og"

    = render "/2013/partials/site-css"
    = render "/2013/vender/html5shim"

    = render "/2013/kmt.erb"

  %body
    = yield :hero
    .page
      %nav.main-menu
        %h2.title Main Navigation
        %ul
          %li.menu-item= link_to( "Home", "/" )
          %li.menu-item= link_to( "News", "http://blog.hitcon.org/" )
          %li.menu-item= link_to( "Agenda", "/2013/agenda/" )
          %li.menu-item= link_to( "Wargame", "/2013/wargame/" )
          %li.menu-item= link_to( "Location", "/2013/location/" )
          %li.menu-item= link_to( "Registration", "/2013/registration/" )
          %li.menu-item= link_to( "Sponsor", "/2013/sponsor/" )
      .main-content
        .header
          %a.menu-button
            .line
            .line
            .line
          %h1.title
            = link_to "HITCON 2013", "/2013/"
        = yield
        = render "/2013/footer"
    = render "/2013/vender/jquery-cdn"
    = render "/2013/partials/site-js"
    = render "/2013/vender/facebook.erb"
    = livereload_js unless ENV["RACK_ENV"] == "production"
